<a href="https://colab.research.google.com/github/mostafaeldwansy/moiti/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Numbers** & ***Arithmetic***

In [9]:
num1, num2, num3 = 3, 4, 5

In [2]:
print("a)", num1 + num2)

a) 7

In [3]:
print("b)", num3 - num1)

b) 2

In [4]:
print("c)", num1 * num2 + num3)

c) 17

In [5]:
print("d)", num1 * (num2 + num3))

d) 27

In [6]:
print("e)", num3 / num1)

e) 1.6666666666666667

In [7]:
print("f)", num3 // num1)

f) 1

In [8]:
print("g)", num3 % num1)

g) 2

# **1-h. Floating point**

In [17]:
num1, num2, num3 = 3.0, 4.0, 5.0

In [10]:
print("a)", num1 + num2)

a) 7

In [11]:
print("b)", num3 - num1)

b) 2

In [12]:
print("c)", num1 * num2 + num3)

c) 17

In [13]:
print("d)", num1 * (num2 + num3))

d) 27

In [14]:
print("e)", num3 / num1)

e) 1.6666666666666667

In [15]:
print("f)", num3 // num1)

f) 1

In [16]:
print("g)", num3 % num1)

g) 2

# 2. **Arithmetic with x, y, z, g**

In [18]:
x, y, z, g = 1, 2, 3, 4

print("2-a)", x + y * z / g)

print("2-b)", y ** z)

2-a) 2.5
2-b) 8

# 3. Strings

In [19]:
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000

str_ab = str_a + " " + str_b + " " + str(num) + " " + str_c
print("3-a)", str_ab)

str_a1 = str_a * 10
print("3-b)", str_a1)

3-a) Python is a 1000 times fun language
3-b) PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

# 4. Built-in Functions

In [20]:
import math

num1, num2, num3, num4 = -5, 3.2, 5.7, 625

print("4-a)", abs(num1))
print("4-b1)", round(num2))
print("4-b2)", round(num3))

print("4-c)", math.sqrt(num4))

4-a) 5
4-b1) 3
4-b2) 6
4-c) 25.0

# 5. Basic Calculator (Multiplication)

In [21]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("The result is:", a * b)

Enter first number: 11
Enter second number: 11
The result is: 121.0

# 1. Odd or Even

In [26]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 4
Even

# 2. Pass or Fail

In [28]:
score = int(input("Enter your score (0-100): "))

if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter your score (0-100): 22
Fail

# 3. Largest of 3 numbers

In [31]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 3
Enter second number: 8
Enter third number: 9
Largest number is: 9

# 4. Counting with for

In [32]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 5. Grade Calculator

In [33]:
score = int(input("Enter your score: "))

if 90 <= score <= 100:
    print("Grade: A")
elif 80 <= score <= 89:
    print("Grade: B")
elif 70 <= score <= 79:
    print("Grade: C")
elif 60 <= score <= 69:
    print("Grade: D")
else:
    print("Grade: F")

Enter your score: 7
Grade: F

# 6. Multiplication Table

In [34]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 90
90 x 1 = 90
90 x 2 = 180
90 x 3 = 270
90 x 4 = 360
90 x 5 = 450
90 x 6 = 540
90 x 7 = 630
90 x 8 = 720
90 x 9 = 810
90 x 10 = 900

# 7. Sum of Even Numbers

In [35]:
total = 0
for i in range(1, 51):
    if i % 2 == 0:
        total += i

print("Sum of even numbers from 1 to 50 is:", total)

Sum of even numbers from 1 to 50 is: 650

# 8. Factorial with while

In [38]:
num = int(input("Enter a number: "))
factorial = 1
i = 1

while i <= num:
    factorial *= i
    i += 1

print(f"Factorial of {num} is: {factorial}")

Enter a number: 6
Factorial of 6 is: 720